.container {
  display: flex;
  border: 3px solid #fff;
  padding: 20px;
}

.links-menu,
.main-page {
  padding: 20px;
  border: 2px solid black;
}
.redak {
  display: "none";
}
.links-menu {
  width: 30%;
  background-color: darkgrey;
}

.main-page {
  width: 70%;
}

.link {
  display: block;
  padding: 10px;
  border: 1px solid blue;
  text-align: center;
  background-color: lightblue;
}

.home-link {
  border: 1px solid blue;
  text-align: center;
  background-color: lightblue;
  width: 40%;
  height: 200px;
  margin-top: 20px;
}

#table {
  display: block;
  margin-top: 20px;
}

th,
td {
  border: 1px solid black;
  padding: 2px;
}

.details p {
  font-size: larger;
}

.clanarine {
  border: 1px solid black;
  margin: 0;
  width: 70%;
}

.main-page {
  background-color: #fceed1;
}
